body {
	background-attachment: fixed !important;
}

.navbar-brand {
	color: #FFF !important;
	text-shadow: 0 0 4px rgba(0,0,0,.8);
}

.navbar-brand:hover {
	color: #000 !important;
	text-shadow: 0 0 4px rgba(128,128,128,1);
}

#contact {
	text-align: center;
}

.right-side {
	text-align: right;
}

.content {
	max-width: 750px;
	margin: 70px auto 20px;
	padding-top: 20px;
	background: #FFF;

	border-radius: 15px;
	-moz-border-radius: 15px;
	box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 0 20px rgba(0,0,0,0.45);
}
